* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size:1rem;
}

body {
    color:chocolate
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 60px;
}

.form-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.navigation a {
    text-transform: uppercase;
    font-weight: bold;
    color:black
}

.logotipo {
    width: 100%;
}

#tituloId {
    color: green;
}

.titulo {
    color: red
}

.titulo2 {
    color: yellow;
}

h1 {
    color: purple !important;
    font-size: 50px;
}

a {
    color: red;
    text-decoration: none;
}

a[target="_blank"] {
    color: blue;
}

button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

a[target="_blank"]::after {
    content: " (abre em nova aba)";
}

